:root {
    --main-content-width: calc(100vw - (var(--terminal-width) + 3 * 50px));
    --main-content-height: calc(100vh - 100px);
    --terminal-width: 405px;
    --content-max-width: 650px;
    --page-width: 1000px;
    --page-padding: 5px;
}

@media only screen and (max-width: 567px) {
    .main-content-container {
        visibility: hidden;
    }

    body {
        overflow-x: hidden;
        overflow-y: hidden;
        padding-top: var(--page-padding)
    }
}

.border {
    font-size: 16px;
    line-height: 16px;
}

#right-border {
    user-select: none;
    /* margin-left: 40px; */
    /* position: relative; */
}

.main-content-container {
    width: var(--main-content-width);
    height: 100vh;
    /* background-color: var(--primary); */
    position: fixed;
}

#main-content {
    width: 100%;
    height: var(--main-content-height);
    color: var(--accent);
    /* background: var(--primary); */
    position: relative;
    font-family: Envy-Code-R;
    padding-top: calc(50px - 16px);
}

#page-body {
    display: flex;
    width: calc(var(--page-width) + 44.5px);
    flex-direction: row;
}

#page {
    /* max-width: calc(var(--page-width) - 50px); */
    flex-grow: 1;
    /* width: calc(100% - 223px); */
    width: 20%;
    /* no idea where this number comes from */
    /* height: calc(100vh - 210px); */
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: scroll;
    overflow-x: hidden;

    /* -ms-overflow-style: none;  Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#page:has(#blog-container) {
    overflow-y: hidden !important;
}

#page::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#page a {
    word-break: break-all;
}

.main-content-background {
    background-color: var(--main-content-background);
    position: absolute;
    top: 50px;
    left: 4px;
    width: calc(100vw - 161px - var(--terminal-width));
    height: calc(round(up, calc(100vh - 180px), 16px) + 60px);

}

.terminal {
    background-color: transparent !important;
}

.menu {
    background-color: transparent !important;
}

#footer {
    white-space: nowrap;
}

#header {
    white-space: nowrap;
}

.toast {
    --background-color: var(--main-content-background);
    --background-start: 15%;
    float: right;
    background: linear-gradient(to bottom, transparent var(--background-start), var(--background-color) var(--background-start));
    width: 395.6px; /* wtf */
    line-height: 16px;
}

#insert-toast {
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    top: 108px;
    right: 48px;
}

#insertTemplateContainer {
    position: relative;
}

.insert-template {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    scroll-behavior: smooth;
}

.navigation {
    position: sticky;
    width: var(--page-width);
    background: var(--main-content-background);
    white-space: pre-wrap;
}

.navigation a {
    text-decoration: none;
}

.breadcrumb {
    position: fixed;
    width: calc(var(--page-width) - 1rem);
    background: var(--main-content-background);
    white-space: pre-wrap;
    user-select: none;
    padding-left: 1rem;
}
