:root {
    --main-content-width: calc(100vw - (var(--terminal-width) + 3 * 50px));
    --main-content-height: calc(100vh - 100px);
    --page-width: 1000px;
    --page-padding: 5px;
    --main-content-background: #252423;
}

@media only screen and (max-width: 567px) {
    .main-content-container {
        visibility: hidden;
    }

    .menu {
        padding-left: calc((100vw - 300px) / 2) !important;
    }

    body {
        overflow-x: hidden;
    }
}

.main-content-container {
    width: var(--main-content-width);
    height: 100vh;
    /* background-color: var(--primary); */
    position: fixed;
    left: 50px;
}

#main-content {
    width: 100%;
    height: var(--main-content-height);
    color: var(--accent);
    /* background: var(--primary); */
    position: relative;
    font-family: Envy-Code-R;
    padding-top: 50px;
}

#page-body {
    display: flex;
    flex-direction: row;
}

#page {
    max-width: var(--page-width);
    height: calc(100vh - 210px); /* no idea where this number comes from */
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: scroll;
    overflow-x: hidden;

    /* -ms-overflow-style: none;  Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#page::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#page a {
    word-break: break-all;
}

.main-content-background {
    background-color: var(--main-content-background);
    position: absolute;
    top: 67px;
    left: 4px;
    width: calc(100vw - 161px - var(--terminal-width));
    height: calc(100vh - 120px);

}

body {

    /* dotted background grid */
    --spacing: 5px;
    --size: 1px;
    background-color: #000;
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) var(--size), var(--primary) var(--size));
    background-size: var(--spacing) var(--spacing);
}

.terminal {
    background-color: transparent !important;
}

.menu {
    background-color: transparent !important;
}

#footer {
    white-space: nowrap;
}

#header {
    white-space: nowrap;
}

.toast {
    --width: 395.6px; /* wtf */
    --background-color: var(--main-content-background);
    --background-start: 15%;
    float: right;
    background: linear-gradient(to bottom, transparent var(--background-start), var(--background-color) var(--background-start));
    width: calc(var(--width));
    overflow-y: hidden;
    z-index: 20;
}

#insert-toast {
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    top: 108px;
    right: 48px;
}

#insertTemplateContainer {
    position: relative;
}

.insert-template {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    scroll-behavior: smooth;
}