.menu {
    height: 50px;
    color: var(--accent);
    background: var(--primary);
    position: relative;
    font-family: Envy-Code-R;
    display: flex;
    margin: auto;
    width: var(--terminal-width);
    padding-top: 20px;
    user-select: none;
    padding-left: 55px;
}

.menu p a {
    padding-left: 15px;
    padding-right: 15px;
    color: var(--accent);
    text-decoration: none;
    height: 50px;
}

.menu a div {
    background-color: var(--accent);
    width: 50px;
    height: 50px;
}

.menu a div:hover {
    background-color: var(--secondary);
    transition: 0.5s;
}

#ascii-keyboard {
    color: var(--secondary);
    font-family: Envy-Code-R;
    position: relative;
    left: -23px;
    white-space: nowrap;
    width: var(--terminal-width);
    margin: auto;
}

#github {
    -webkit-mask: url(../assets/brand-github.svg) no-repeat center;
    mask: url(../assets/brand-github.svg) no-repeat center;
}

#instagram {
    -webkit-mask: url(../assets/brand-instagram.svg) no-repeat center;
    mask: url(../assets/brand-instagram.svg) no-repeat center;
}

#last-fm {
    -webkit-mask: url(../assets/brand-lastfm.svg) no-repeat center;
    mask: url(../assets/brand-lastfm.svg) no-repeat center;
}

#anilist {
    -webkit-mask: url(../assets/SimpleIconsAnilist.svg) no-repeat center;
    mask: url(../assets/SimpleIconsAnilist.svg) no-repeat center;
    transform: scale(0.7);
}

#discord {
    -webkit-mask: url(../assets/brand-discord.svg) no-repeat center;
    mask: url(../assets/brand-discord.svg) no-repeat center;
}