:root {
    --primary: #2D2B2A;
    --secondary: #fefefe;
    --accent: #c6c3bb;
    --selection-text-color: var(--primary);
    --terminal-width: 405px;
}

@font-face {
    font-family: Envy-Code-R;
    src: url(../assets/Envy-Code-R.ttf)
}

@font-face {
    font-family: NotoSansJP;
    src: url(../assets/NotoSansJP-Regular.otf)
}

@font-face {
    font-family: NotoSansCH;
    src: url(../assets/NotoSansSC-Regular.otf)
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
}

a {
    color: var(--accent) !important;
}

a:hover {
    color: var(--secondary) !important;
    /* transition: 0.5s; */
}

[lang=jp] {
    font-family: NotoSansJP;
}

[lang=ch] {
    font-family: NotoSansCH;
}

insert {
    color: var(--secondary);
}

insert:hover {
    cursor: pointer;
}

#note {
    color: var(--accent);
    padding-top: 25px;
    position: absolute;
    left: 35px;
}

.line-through {
    text-decoration: line-through;
}

.secondary {
    color: var(--secondary);
}

.accent {
    color: var(--accent);
}
