#cursor {
    font-weight: 900;
}

@media only screen and (max-width: 870px) {
    .terminal-container {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        right: 0px !important;
    }
}

@media only screen and (min-width: 870px) {
    .terminal-container {
        position: fixed;
    }
    
    #note {
        visibility: hidden;
    }
}

.terminal-container {
    width: var(--terminal-width);
    right: 50px;
    display: var(--terminal-display);
}

.terminal {
    width: var(--terminal-width);
    height: calc(16 * 40px);
    color: var(--secondary);
    background: var(--primary);
    position: relative;
    font-family: Envy-Code-R;
    margin: auto;
    margin-top: 50px;

    overflow: auto;
    overflow-wrap: anywhere;
    word-break: break-all;
    word-wrap: break-word;
    line-break: anywhere; /* D:< */
    display: flex;
    flex-direction: column-reverse;
    font-size: 16px;
    hyphens: auto;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    border-bottom: 2px solid var(--secondary);
    border-top: 2px solid var(--secondary);
}

.terminal::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

::selection {
    background-color: var(--accent);
    color: var(--selection-text-color);
}

br {
    user-select: none;
}

.terminal div {
    overflow-wrap: hidden !important;
}

.terminal a {
    color: var(--secondary)
}

.terminal k {
    color: var(--accent);
}

#lines {
    margin-bottom: 0px;
}

#user-commands {
    margin-bottom: 16px;
}