{% extends "base.html" %}

{% block title %}

Projects | Java

{% endblock %}



{% block name %}

<h2> Projects </h2>
Introductions for projects

{% endblock %}



{% block breadcrumb %}

<div class='breadcrumb'>
    <a href='/'> &nbspHome&nbsp </a>
</div>

{% endblock %}



{% block body %}

<div class='cards'>
    <a href='/projects/farminfarm'>
        <div class='card-face'>
            <div class='card-content'>
                <p> 🌾 </p>
                FarminFarm
            </div>
        </div>
    </a>
    <a href='/projects/around-the-clock'>
        <div class='card-face'>
            <div class='card-content'>
                <p> ⏰ </p>
                Around the <br> Clock
            </div>
        </div>
    </a>
    <a href='/projects/umoria'>
        <div class='card-face'>
            <div class='card-content'>
                <p> 💀 </p>
                Umoria
            </div>
        </div>
    </a>
    <a href='/projects'>
        <div class='card-face'>
            <div class='card-content'>
                <p></p>
                
            </div>
        </div>
    </a>
    <a href='/projects'>
        <div class='card-face'>
            <div class='card-content'>
                <p></p>
                
            </div>
        </div>
    </a>
    <a href='/projects'>
        <div class='card-face'>
            <div class='card-content'>
                <p></p>
                
            </div>
        </div>
    </a>
    <a href='/projects'>
        <div class='card-face'>
            <div class='card-content'>
                <p></p>
                
            </div>
        </div>
    </a>
    <a href='/projects'>
        <div class='card-face'>
            <div class='card-content'>
                <p></p>
                
            </div>
        </div>
    </a>
    <a href='/projects'>
        <div class='card-face'>
            <div class='card-content'>
                <p></p>
                
            </div>
        </div>
    </a>
</div>

{% endblock %}
