:root {
    --primary: rgb(38, 40, 69);
    --secondary: rgb(237, 160, 49);
    --accent: rgb(231, 255, 238);

    --terminal-width: 404px;
}

@font-face {
    font-family: Envy-Code-R;
    src: url(assets/Envy-Code-R.ttf)
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
}

#cursor {
    font-weight: 900;
}

.main-content-container {
    width: calc(100vw - (var(--terminal-width) + 3 * 50px));
    height: 100vh;
    background-color: var(--secondary);
    position: fixed;
    left: 50px;
}

.main-content {
    width: 100%;
    height: 100%;
    color: var(--secondary);
    background: var(--primary);
    position: relative;
    font-family: Envy-Code-R;
}

.terminal-container {
    width: var(--terminal-width);
    height: 100vh;
    position: fixed;
    right: 50px;
}

.terminal {
    width: 100%;
    height: calc(16 * 40px);
    color: var(--secondary);
    background: var(--primary);
    position: relative;
    margin-top: 50px;
    font-family: Envy-Code-R;

    overflow: auto;
    overflow-wrap: anywhere;
    word-break: break-all;
    word-wrap: break-word;
    line-break: anywhere; /* D:< */
    display: flex;
    flex-direction: column-reverse;
    font-size: 16px;
    hyphens: auto;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    border-bottom: 2px solid var(--secondary);
    border-top: 2px solid var(--secondary);
}

.terminal::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

::selection {
    background-color: var(--accent);
    color: var(--primary);
}

br {
    user-select: none;
}

.terminal div {
    overflow-wrap: hidden !important;
}