@media (max-width: 768px) {
    .breadcrumb {
        visibility: hidden;
    }
}

.breadcrumb {
    padding-left: 50px;
    padding-bottom: 30px;
}

.breadcrumb a {
    color: var(--text-color);
    background-color: var(--highlight);
    border-radius: 3px;
}

.breadcrumb a:hover {
    background-color: var(--highlight-darker);
}