:root {
	--card-background-color: rgb(241, 241, 241);
	--card-background-color-darker: rgb(210, 214, 206);
	--text-color: #313330;
    --tile-card-background: rgb(222, 228, 228);
    --tile-card-hover: rgb(200, 214, 214);
	--highlight: rgb(190, 197, 183);
	--highlight-darker: rgb(170, 180, 160);
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: grid;
	cursor: url('/static/assets/mouse.png'), auto;	
}

@media (max-width: 768px) {
	.card {
		width: 100vw;
		height: 100vh;
		background: var(--card-background-color);
		align-items: center;
		justify-items: center;
		color: var(--text-color);
		display: flex;
		flex-direction: column;
	}

	.bar {
		padding: 20px;
		background-color: #424d46;
		width: calc(100% - 40px);
		height: 45px;
		align-self: flex-start;
		display: flex;
		position: fixed;
	}

	.pfp img {
		width: 50%;
		border-radius: 50%;	
		border: 10px solid var(--card-background-color);
	}

	.pfp {
		position: fixed;
		left: calc((75% - 40px) / 2);
	}

	.name {
		width: 64%;
		padding-top: 180px;
		padding-bottom: 20px;
		margin-left: calc(36% / 2);
		flex: 1;
	}

	.name h2 {
		margin: 0;
		padding: 0;
		font-size: x-large;
	}

	.body {
		visibility: hidden;
	}

	.mobile-links {
		width: 90%;
		height: 200px;
		display: flex;
		flex-direction: column;
	}

	.link {
		border-radius: 10px;
		background-color: #5a6159;
		flex: 1;
		height: 50px;
		margin-bottom: 10px;
		text-align: center;
		padding-top: 15px;
	}

	a {
		text-decoration: none;
		color: #fff;
	}
}

@media (min-width: 768px) {
	body {
		height: 100vh;
		align-items: center;
		justify-items: center;
		background-image: url('/static/assets/background1.gif');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-blend-mode: multiply;
		background-color: #5a6159;
	}

	.card {
		background: var(--card-background-color);
		box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.5);
		width: 520px;
		height: 760px;
		border-radius: 15px;
		position: relative;
		color: var(--text-color);
		display: flex;
		flex-direction: column;
	}

	.bar {
		border-radius: 12px 12px 0 0;
		padding: 20px;
		background-color: #424d46;
		width: 92.5%;
		height: 45px;
		align-self: flex-start;
		display: flex;
	}

	.pfp img {
		float: left;
		width: 30%;
		border-radius: 50%;	
		border: 10px solid var(--card-background-color);
	}

	.name {
		width: 64%;
		padding-top: 20px;
		padding-bottom: 40px;
		margin-left: auto;
	}

	.name h2 {
		margin: 0;
		padding: 0;
		font-size: x-large;
	}

	.body {
		margin-left: 50px;
		margin-right: 50px;
	}
	
	.mobile-links {
		visibility: hidden;
	}
}