.menu {
	display: flex;
	color: var(--text-color);
	position: absolute;
	border-radius: 15px;
	box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.5);
	background: var(--card-background-color);
}

.first {
	background-color: #424d46;
	padding: 20px;
	font-size: x-large;
}

.menu a {
	text-decoration: none;
	flex: 1;
}

.menu-icon {
	transition: .3s;
}

.menu a:hover .menu-icon {
	transform: rotate(15deg) scale(1.05);
	transition: .3s;
}

.menu-button:hover {
	background-color: var(--card-background-color-darker);
}

.last:hover {
	background-color: var(--card-background-color-darker);
}

.selected:hover {
	transform: scale(2)
}

a:hover {
	cursor: url('/static/assets/mouse.png'), auto;
}

@media (min-width: 768px) {
	.menu {
		width: 70px;
		height: 500px;
		bottom: 247px;
		right: -90px;
		flex-direction: column;
	}

	.first {
		border-radius: 12px 12px 0 0;
	}

	.menu-button {
		font-size: x-large;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 18px;
		padding-right: 18px;
	}

	.last {
		border-radius: 0 0 15px 15px;
		font-size: x-large;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 18px;
		padding-right: 18px;
	}

	.selected {
		background: #000;
	}
}

@media (max-width: 768px) {
	.menu {
		width: 500px;
		height: 70px;
		position: fixed;
		left: calc((100% - 500px) / 2);
		bottom: 50px;
		flex-direction: row;
	}

	.first {
		border-radius: 15px 0 0 15px;
	}

	.menu-button {
		font-size: x-large;
		padding-top: 19px;
		padding-bottom: 19px;
		padding-left: 18px;
		padding-right: 18px;
	}

	.last {
		border-radius: 0 15px 15px 0;
		font-size: x-large;
		padding-top: 19px;
		padding-bottom: 19px;
		padding-left: 18px;
		padding-right: 18px;
	}
}