{% extends "base.html" %}

{% block title %}

Art | Java

{% endblock %}



{% block name %}

<h2> Art </h2>
I draw every blue moon

{% endblock %}



{% block breadcrumb %}

<div class='breadcrumb'>
    <a href='/'> &nbspHome </a> &nbsp/ <a href='/community/'> &nbspCommunity&nbsp </a>
</div>

{% endblock %}



{% block body %}

<div class='cards'>
    <a href='https://instagram.com/v.lucent/ 'target="_blank" rel="noopener noreferrer">
        <div class='card-face'>
            <div class='card-content'>
                <p> 🔗 </p>
                Insta
            </div>
        </div>
    </a>
    <a href='/community/art/traditional'>
        <div class='card-face'>
            <div class='card-content'>
                <p> ✏️ </p>
                Traditional
            </div>
        </div>
    </a>
    <a href='/community/art/digital'>
        <div class='card-face'>
            <div class='card-content'>
                <p> 🖥️ </p>
                Digital
            </div>
        </div>
    </a>
    <a href='/community/art/animation'>
        <div class='card-face'>
            <div class='card-content'>
                <p> 🎥 </p>
                Animation
            </div>
        </div>
    </a>
    <a href='/community/art/pixel'>
        <div class='card-face'>
            <div class='card-content'>
                <p> 🔬 </p>
                Pixel Art
            </div>
        </div>
    </a>
    <a href='/community/art/'>
        <div class='card-face'>
            <div class='card-content'>
                <p></p>
                
            </div>
        </div>
    </a>
    <a href='/community/art/'>
        <div class='card-face'>
            <div class='card-content'>
                <p></p>
                
            </div>
        </div>
    </a>
    <a href='/community/art/'>
        <div class='card-face'>
            <div class='card-content'>
                <p></p>
                
            </div>
        </div>
    </a>
    <a href='/community/art/'>
        <div class='card-face'>
            <div class='card-content'>
                <p></p>
                
            </div>
        </div>
    </a>
</div>

{% endblock %}