{% extends "base.html" %}

{% block title %}

Community | Java

{% endblock %}



{% block name %}

<h2> Interests </h2>
not interesting whatsoever

{% endblock %}



{% block breadcrumb %}

<div class='breadcrumb'>
    <a href='/'> &nbspHome&nbsp </a>
</div>

{% endblock %}



{% block body %}

<div class='cards'>
    <a href='/community/jailbreak'>
        <div class='card-face'>
            <div class='card-content'>
                <p> 📱 </p>
                iOS Jailbreaking
            </div>
        </div>
    </a>
    <a href='/community/right-to-repair'>
        <div class='card-face'>
            <div class='card-content'>
                <p> 🛠️ </p>
                Right to Repair
            </div>
        </div>
    </a>
    <a href='/community/art'>
        <div class='card-face'>
            <div class='card-content'>
                <p> 🎨 </p>
                Art
            </div>
        </div>
    </a>
    <a href='/community/music'>
        <div class='card-face'>
            <div class='card-content'>
                <p> 🎧 </p>
                Music
            </div>
        </div>
    </a>
    <a href='/community/computer'>
        <div class='card-face'>
            <div class='card-content'>
                <p> 💻 </p>
                Computer
            </div>
        </div>
    </a>
    <a href='/community'>
        <div class='card-face'>
            <div class='card-content'>
                <p></p>
                
            </div>
        </div>
    </a>
    <a href='/community'>
        <div class='card-face'>
            <div class='card-content'>
                <p></p>
                
            </div>
        </div>
    </a>
    <a href='/community'>
        <div class='card-face'>
            <div class='card-content'>
                <p></p>
                
            </div>
        </div>
    </a>
    <a href='/community'>
        <div class='card-face'>
            <div class='card-content'>
                <p></p>
                
            </div>
        </div>
    </a>
</div>

{% endblock %}
