.app-button {
    --button-width: 600px;
    height: 60px;
    border-radius: 10px;
    border: 3px solid #ffffff20;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: var(--button-width);
    width: 80%;
    margin-left: calc((100% - min(80%, var(--button-width))) / 2);
}

.app-button:hover {
    background: #ffffff08;
    cursor: pointer;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: 3px solid #ffffff20;
    padding-left: 20px;
    overflow-x: hidden;
}

#page-title {
    font-size: 30px;
    text-align: center;
    margin: auto;
    font-family: NotoSansCH;
}

.icon {
    --icon-width: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: var(--icon-width);
    transform: scale(1.3);
    background-color: var(--accent);
    color: var(--accent);
    margin-left: 40%;
    margin-left: calc(100% - var(--icon-width));
}

#app-container {
    display: grid;
    grid-gap: 15px;
    padding: 20px;
    margin: auto;
}

#app-container a {
    text-decoration: none;
}

#page {
    overflow: scroll !important;
}

h1 {
    font-family: NotoSansJP;
}