.app-button {
    height: 60px;
    border-radius: 10px;
    border: 3px solid #ffffff20;
    padding: 5px;
    display: flex;
}

.app-button:hover {
    background: #ffffff08;
    cursor: pointer;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: 3px solid #ffffff20;
    padding-left: 20px;
}

.width {
    min-width: 500px;
    max-width: 800px;
    margin: auto;
}

#page-title {
    font-size: 30px;
    text-align: center;
    margin: auto;
    font-family: NotoSansCH;
}

.icon {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60px;
    transform: scale(1.3);
    background-color: var(--accent);
    color: var(--accent);
    margin-left: 40%;
}

#app-container {
    display: grid;
    grid-gap: 15px;
    padding: 20px;
    margin: auto;
}

#app-container a {
    text-decoration: none;
}

#page {
    overflow: scroll !important;
}

h1 {
    font-family: NotoSansJP;
}