:root {
    --center-width: 600px;
}

#home-menu {
    max-width: var(--center-width);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    margin-left: 1rem;
}