#home-menu {
    max-width: var(--content-max-width);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    margin-left: 1rem;
}

hr {
    display: inline-block;
    margin-bottom: 4px;
}
