hr {
	--margin: 1rem;
	border: 1px solid var(--accent);
	filter: brightness(0.6);
	margin-left: var(--margin);
	margin-right: var(--margin);
}

.zoom {
    /* height: 8rem; */
    width: 45rem;
    max-width: 90%;
	border-radius: 10px;
}

.banner {
    height: 135px;
    max-width: 720px;
    width: 90%;
    object-fit: cover;
    object-position: left;
}

.retire {
    filter: grayscale(1);
}

li {
    margin-left: 22px;
    color: var(--secondary);
}

ul {
    margin: 0;
}