<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA Compatible' content='IE=edge'>
    <title> 
        
    {% block title %}

    {% endblock %}
    
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/buttons.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/tiles.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/breadcrumb.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/menu.css'>
    <link rel='icon' type='image/x-icon' href='/static/assets/leaf.ico'>
    <script src='/static/main.js'></script>
</head>
<body>
    <div class='items'>
        <div class='card'>
            <div class='bar'>
                <div class='pfp'>
                    <img src='/static/assets/mio.gif' alt='Mio' style='width:128px;height:128px;'>    
                </div>
            </div>
            <div class='name'>
    
    {% block name %}
    
    {% endblock %}
    
    </div>

    <div class='mobile-links'>
        <div class='link'>
            <a href='https://github.com/Javascript-void0' target="_blank" rel="noopener noreferrer">
                Github
            </a>
        </div>
        <div class='link'>
            <a href='https://anilist.co/user/vlucent/' target="_blank" rel="noopener noreferrer">
                Anilist
            </a>
        </div>

        <div class='link'>
            <a href='https://instagram.com/v.lucent/' target="_blank" rel="noopener noreferrer">
                Instagram
            </a>
        </div>
    </div>

    {% block breadcrumb %}

    {% endblock %}

    <div class='body'>
        <div class='body-container'>
            <div class='text'>

    {% block body %}
    
    {% endblock %}

            </div>
        </div>
    </div>

    <div class='buttons'>
        <div class='github'>
            <a href='https://github.com/Javascript-void0' target="_blank" rel="noopener noreferrer">
                <img src='/static/assets/github.png' width=35px height=35px alt='Github'>
            </a>
        </div>
        <div class='anilist'>
            <a href='https://anilist.co/user/vlucent/' target="_blank" rel="noopener noreferrer">
                <img src='/static/assets/anilist.png' width=35px height=35px alt='Anilist'>
            </a>
        </div>
        <div class='instagram'>
            <a href='https://instagram.com/v.lucent/' target="_blank" rel="noopener noreferrer">
                <img src='/static/assets/instagram.png' width=35px height=35px alt='Instagram'>
            </a>
        </div>
    </div>

    <div class='menu'>
        <a href='/' title='Welcome Page'>
            <div class='first'>
                <div class='menu-icon'> 🏡 </div>
            </div>
        </a>
        <a href='/portfolio' title='Portfolio'>
            <div class='menu-button'>
                <div class='menu-icon'> 💼 </div>
            </div>
        </a>
        <a href='/projects' title='Projects'>
            <div class='menu-button'>
                <div class='menu-icon'> 📂 </div>
            </div>
        </a>
        <a href='/docs' title='Docs...?'>
            <div class='menu-button'>
                <div class='menu-icon'> 📋 </div>
            </div>
        </a>
        <a href='/community' title='"Community"'>
            <div class='menu-button'>
                <div class='menu-icon'> 🍜 </div>
            </div>
        </a>
        <a href='/'>
            <div class='menu-button'>
                <div class='menu-icon'> 🍡 </div>
            </div>
        </a>
        <a href='/about' title='About Me'>
            <div class='last'>
                <div class='menu-icon'> 🥡 </div>
            </div>
        </a>
    </div>

</body>
</html>