<div class='buttons'>
    <div class='github'>
        <a href='https://github.com/Javascript-void0' target="_blank" rel="noopener noreferrer">
            <img src='/assets/github.png' width=35px height=35px alt='Github'>
        </a>
    </div>
    <div class='anilist'>
        <a href='https://anilist.co/user/vlucent/' target="_blank" rel="noopener noreferrer">
            <img src='/assets/anilist.png' width=35px height=35px alt='Anilist'>
        </a>
    </div>
    <div class='instagram'>
        <a href='https://instagram.com/v.lucent/' target="_blank" rel="noopener noreferrer">
            <img src='/assets/instagram.png' width=35px height=35px alt='Instagram'>
        </a>
    </div>
</div>