<div class='menu'>
    <a href='/' title='Welcome Page'>
        <div class='first'>
            <div class='menu-icon'> 🏡 </div>
        </div>
    </a>
    <a href='/portfolio' title='Portfolio'>
        <div class='menu-button'>
            <div class='menu-icon'> 💼 </div>
        </div>
    </a>
    <a href='/projects' title='Projects'>
        <div class='menu-button'>
            <div class='menu-icon'> 📂 </div>
        </div>
    </a>
    <a href='/docs' title='Docs...?'>
        <div class='menu-button'>
            <div class='menu-icon'> 📋 </div>
        </div>
    </a>
    <a href='/community' title='"Community"'>
        <div class='menu-button'>
            <div class='menu-icon'> 🍜 </div>
        </div>
    </a>
    <a href='/'>
        <div class='menu-button'>
            <div class='menu-icon'> 🍡 </div>
        </div>
    </a>
    <a href='/about' title='About Me'>
        <div class='last'>
            <div class='menu-icon'> 🥡 </div>
        </div>
    </a>
</div>