:root {
    --c1: #2d2b2a;
    --c2: #e5dfce;
}

body {
    background-color: var(--c1)
}

@font-face {
    font-family: Envy Code R;
    src: url('/assets/fonts/Envy-Code-R.ttf');
}

* {
    font-family: Envy Code R;
}


.center {
    max-width: 1000px;
    width: auto;
    margin: auto;
    height: 100vh;
}

#layout-selector {
    display: none;
}

#tester {
    position: relative;
    width: 40rem;
    height: 40rem;
    margin: auto;
    top: calc((100% - 30rem) * (1 / 3));
    display: grid;
    grid-template-rows: 18rem 17rem 5rem;
}

#keyboard {
    height: calc(17rem - 4rem);
    aspect-ratio: 40/13;
    display: grid;
    grid-template-rows: repeat(5, calc((17rem - 4rem - 8px) / 5));
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-gap: 2px;
}

.keyboard-row {
    display: grid;
    grid-gap: 2px;
}

#keyboard-row-1 {
    grid-template-columns: repeat(13, 1fr) 85px;
}
#keyboard-row-2 {
    grid-template-columns: 65px repeat(12, 1fr) 60px;
}
#keyboard-row-3 {
    grid-template-columns: 75px repeat(11, 1fr) 90px;
}
#keyboard-row-4 {
    grid-template-columns: 100px repeat(10, 1fr) 115px;
}
#keyboard-row-5 {
    grid-template-columns: repeat(3, 1fr) 260px repeat(4, 1fr);
}

.key {
    border-radius: 0.6rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding-top: 10px;
    user-select: none;
}

.key[press="True"] {
    border: 2px solid rgb(183, 136, 206);
    color: rgb(183, 136, 206);
    /* transition-duration: 0.15s; */
}

#textbox {
    position: relative;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 16rem;
    overflow: scroll;
    font-size: 2rem;
    line-height: 2rem;
    line-break: anywhere;
    color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
}

#text {
    white-space: pre-line;
}

#menu {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    /* background: red; */
}

.menu-button {
    padding-top: 0.9rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    user-select: none;
}

.menu-button:hover {
    cursor: pointer;
    filter: brightness(110%);
}
