.page-icon {
    color: rgb(var(--c2), 1);
    margin-bottom: 30px;
    margin-top: 15px;
    transform: scale(1.5);
}

.page {
    height: 180px;
    border-radius: 8px;
    padding-top: 50px;
    text-align: center;
    color: rgb(var(--c2));
    border: 1px solid rgb(var(--c2), 0.1);

    font-family: Envy Code R;
    font-weight: 500;

    color: rgb(var(--c2), 0.6);
    padding-left: 30px;
    padding-right: 30px;
}

#hash {
    -webkit-mask: url(/apps/images/hash.svg) no-repeat center;
    mask: url(/apps/images/hash.svg) no-repeat center;
    background-color: rgb(var(--c2), 1);
    height: 50px;
}

#square {
    -webkit-mask: url(/apps/images/square.svg) no-repeat center;
    mask: url(/apps/images/square.svg) no-repeat center;
    background-color: rgb(var(--c2), 1);
    height: 50px;
}

#calculator {
    -webkit-mask: url(/apps/images/calculator.svg) no-repeat center;
    mask: url(/apps/images/calculator.svg) no-repeat center;
    background-color: rgb(var(--c2), 1);
    height: 50px;
}

#christmas-tree {
    -webkit-mask: url(/apps/images/christmas-tree.svg) no-repeat center;
    mask: url(/apps/images/christmas-tree.svg) no-repeat center;
    background-color: rgb(var(--c2), 1);
    height: 50px;
}

#triangle-inverted {
    -webkit-mask: url(/apps/images/triangle-inverted.svg) no-repeat center;
    mask: url(/apps/images/triangle-inverted.svg) no-repeat center;
    background-color: rgb(var(--c2), 1);
    height: 50px;
}

#apple-arcade {
    -webkit-mask: url(/apps/images/apple-arcade.svg) no-repeat center;
    mask: url(/apps/images/apple-arcade.svg) no-repeat center;
    background-color: rgb(var(--c2), 1);
    height: 50px;
}

#grid {
    -webkit-mask: url(/apps/images/grid.svg) no-repeat center;
    mask: url(/apps/images/grid.svg) no-repeat center;
    background-color: rgb(var(--c2), 1);
    height: 50px;
}

#square-2 {
    -webkit-mask: url(/apps/images/square-2.svg) no-repeat center;
    mask: url(/apps/images/square-2.svg) no-repeat center;
    background-color: rgb(var(--c2), 1);
    height: 50px;
}

#grid-dots {
    -webkit-mask: url(/apps/images/grid-dots.svg) no-repeat center;
    mask: url(/apps/images/grid-dots.svg) no-repeat center;
    background-color: rgb(var(--c2), 1);
    height: 50px;
}

#square-dot {
    -webkit-mask: url(/apps/images/square-dot.svg) no-repeat center;
    mask: url(/apps/images/square-dot.svg) no-repeat center;
    background-color: rgb(var(--c2), 1);
    height: 50px;
}

#keyboard {
    -webkit-mask: url(/apps/images/keyboard.svg) no-repeat center;
    mask: url(/apps/images/keyboard.svg) no-repeat center;
    background-color: rgb(var(--c2), 1);
    height: 50px;
}